.navbar {
  background: linear-gradient(90deg, #032f4e, #0a3f58 25%, #388c88);
}

@media (max-width: 991px) {
  .btn {
    width: fit-content;
  }
}


.navbar-img {
  width: 110px;
  cursor: pointer;
}

.navbar-light .navbar-toggler {
  color: #ffff;
  border-color: #ffff;
}

.navbar-toggler {
    background-color: white !important;
    border: 1px solid white !important;
}
