.spinner {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  vertical-align: -0.125em;
  border: 0.55em solid #212529;
  border-right-color: transparent;
  border-radius: 50%;
  animation: 0.75s linear infinite spinner-border;
}
